/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #282828;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kalnia", "Times New Roman", Times, serif;
  margin: 0.5em 0;
  font-size: 1.75rem;
}

p {
  margin: 0 0 1.5em;
}

/* Elements
--------------------------------------------- */
section {
  padding: 0 1rem;
}

/* Links
--------------------------------------------- */
a,
a:visited {
  color: #008000;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

a:focus {
  outline: 2px dotted;
}

/* header */
/* navigation menu */

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #f5f5dc;
  width: 100%;
  padding: 0 1rem;
}

.site-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #f5f5dc;
}

.site-navigation.toggled ul {
  display: block;
}

.site-navigation a {
  display: block;
  padding: 1rem;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #282828;
}

.menu-toggle {
  display: block;
  background-color: transparent;
  border: 0;
  padding: 1rem;
}

.menu-toggle:focus {
  border: 0;
  outline: 1px dotted;
}

@media (min-width: 50em) {
  .menu-toggle {
    display: none;
  }

  .site-navigation {
    flex: 1 1 auto;
    padding: 0 1rem;
  }

  .site-navigation ul,
  .site-navigation.toggled ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0;
  }

  .site-navigation a {
    line-height: 4.5rem;
    padding: 0 1rem;
  }
}

/* main */

/* name section */

.name {
  position: relative;
  padding: 0;
}

.name h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 1;
  transform: translateY(-50%);
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.name img {
  display: block;
  object-fit: cover;
  min-height: 25rem;
  
}

@media (min-width: 50em) {

  .name img{

    max-width: 100%;
    
    /* background-size: cover; */
  }
	
}

/* about section */

.section-about {
  
  margin: 0;
  background-color: #f5f5dc;
}
.section-about h2 {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.section-about p {
  line-height: 2;
  font-size: 1.125rem;
  margin-bottom: 0;
}

@media (min-width: 50em) {

	.section-about p{
    
   max-width: 50%;
   margin: 1rem auto 0;
  }
	
}
/* section project */

.section-project {
  background-color: #ddeff6;
  margin-top: 0;
 padding-bottom: .5rem;
}
.section-project h2 {
  margin-top: 0;
  padding-top: 1rem;
}
.section-article {

  margin: 2rem auto;
  box-shadow: 0px 0px 3px 3px #c3c1c1;
  border-radius: 30px;
  background-color:#f3f3e5;
}

.section-article img {
  border-radius: 30px;
}
.section-article h3{
  font-size: 1.5rem;
}
.section-article a,
a:visited{
   text-decoration: none;
}

.text-style {
  color: #000000;
  padding: 0 1rem 0.5rem;
}

.text-style h3 {
  margin-top: 0;
}

@media (min-width: 50em) {

	.section-project {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
}
.section-article{
  
  max-width: 18.75rem;
}
.style-article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  
}

.section-article a,
a:hover{
   text-decoration: none;
}
}
/* contact section */

.section-contact{
	background-color: #f5f5dc;
	text-align: center;
  margin-top: 0;
	padding-top:1rem ;
	
}

.section-contact p{
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}
.contact-talk a{
	
	 font-weight: 600;
  padding: .5rem 1rem;
	background-color: #e3dba4;
	color: #111010;
	text-decoration: none;
	
}

.icons-style{
	
	list-style-type: none;
	text-align: center;
  padding:.5rem 0 ;
  margin: 1.5rem  0 0;
}
.icons-style li{
	display: inline;
	margin: 0 1rem;
  
  
}

@media (min-width: 50em) {

	.section-contact {
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

}

/* footer */
.footer{
  margin-top: 0;
  background-color: #f5f5dc;
}

.footer p {
  text-align: center;
  margin: 0;
 padding: 1rem;
}
